div
    .tac.graphTitleWrapper
        span.graphTitle(ng-bind="title")
    .legend
    .graph(style="min-height: 5px;", ng-class="graphStyle")
    .pie-label
        span.text(ng-bind="graphData.label.text")
        br
        span.number(ng-bind="graphData.label.num")
    