.people
    div.mw-header
        .btn-group.view-btns(ng-if="options.demoMode")
            button.btn.btn-default(type="button", ng-model="showTree", btn-radio="false", title="See List View")
                i.fa.fa-list
            button.btn.btn-default(type="button", ng-model="showTree", btn-radio="true", title="See Hierarchy View")
                i.fa.fa-sitemap
        .fl.header
            .title
                h3 Employees
        .fl.breadcrumbs(bread-crumbs="", data-crumbs="breadcrumbs", go-to="employee.goTo(node)")
    div(ng-hide="showTree")
        div.manager(ng-class="{selected: isSelectedEmployee(node.rootNode), unselected: !isSelectedEmployee(node.rootNode)}")
            div
                button.btn.btn-default.touchButton.isFavorite(ng-show="!isFavorite(node.rootNode)", ng-click="addFavorite(node.rootNode)",
                    title="Add to Favorites")
                    span.fa.fa-star-o
                button.btn.btn-default.touchButton.isNotFavorite(ng-show="isFavorite(node.rootNode)", ng-click="removeFavorite(node.rootNode)",
                    title="Remove from Favorites")
                    i.fa.fa-star
                button.btn.btn-default.touchButton.contact(ng-hide="node.rootNode.showContactInfo",ng-click="showContact(node.rootNode)", title="Show Contact Info")
                    i.fa.fa-info-circle
                button.btn.btn-default.touchButton.contact.hider(ng-show="node.rootNode.showContactInfo",ng-click="showContact(node.rootNode)", title="Hide Contact Info")
                    i.fa.fa-info-circle
                button.btn.btn-default.touchButton.up(ng-click="goUpLevel(node.rootNode)", ng-class="{hidden: !node.rootNode.ancestors.length}",
                    title="View Manager")
                    i.fa.fa-level-up
            div.info(ng-click="selectEmployee(node.rootNode)")
                h3(ng-bind="node.rootNode.short_name")
                img(ng-src="{{node.rootNode.image}}", ng-if="node.rootNode.image")
                .initials(ng-if="node.rootNode.initials") {{node.rootNode.initials}}
                h5.titlePlaceholder Title Placeholder
            div.managerContactInfo(ng-show="node.rootNode.showContactInfo")
                div.none(ng-hide="node.rootNode.contact.phone||node.rootNode.contact.email") No Contact Info
                div {{node.rootNode.contact.phone}}
                div {{node.rootNode.contact.email}}
        div.employee-list
            .employee(ng-repeat="c in node.childrenNodes", ng-class="{selected: isSelectedEmployee(c), unselected: !isSelectedEmployee(c)}")
                div.select(ng-click="selectEmployee(c)")
                    h5.name(ng-bind="c.short_name", ng-class="{'small-font': longName(c), 'tiny-font': extraLongName(c)}")
                    img(ng-src="{{c.image}}", ng-if="c.image")
                    .initials(ng-if="c.initials") {{c.initials}}
                    h6.title Title Placeholder
                .bar-graph(time-series-bar-graph="",
                data-source-urls="c.barGraphFragment",
                data-graph-title="Tickets Closed (Last 30 Days)",
                data-sync-family="bars",
                data-sync-data="sync")
                div.touchButtonGroup
                    button.btn.btn-default.touchButton.isFavorite(ng-show="!isFavorite(c)", ng-click="addFavorite(c)",
                        title="Add to Favorites")
                        i.fa.fa-star-o
                    button.btn.btn-default.touchButton.isNotFavorite(ng-show="isFavorite(c)", ng-click="removeFavorite(c)",
                        title="Remove From Favorites")
                        i.fa.fa-star
                    button.btn.btn-default.touchButton.contactHide(ng-show="c.showContactInfo",ng-click="showContact(c)", ng-if="options.demoMode",
                        title="Hide Contact Info")
                        i.fa.fa-info-circle
                    button.btn.btn-default.touchButton.contact(ng-hide="c.showContactInfo",ng-click="showContact(c)", ng-if="options.demoMode",
                        title="Show Contact Info")
                        i.fa.fa-info-circle
                    button.btn.btn-default.touchButton.down(ng-click="goDownLevel(c)", ng-class="{hidden: !c.children}",
                        title="View Subordinates")
                        i.fa.fa-level-down
                div.contactInfo(ng-show="c.showContactInfo")
                    div.none(ng-hide="c.contact.phone||c.contact.email") No Contact Info
                    div {{c.contact.phone}}
                    div {{c.contact.email}}
    div(ng-show="showTree")
        br
        br
        h3 This is a placeholder for an organizational chart.
