div(ng-if="favorites.getFavorites().length !== 0")
    .favorites.col-md-12.col-sm-12.col-xs-12(ng-class="{favoritesSmall: !favorites.expanded, favoritesBig: favorites.expanded}")
        div.btn-group.pull-right
            a.fa.fa-times(ng-click="favorites.clearFavorites()", title="Clear Favorites")
            a.fa(ng-click="favorites.expanded = !favorites.expanded", title="Expand/Shrink Favorites", ng-class="{'fa-chevron-down': favorites.expanded, 'fa-chevron-up': !favorites.expanded}")
        div
            .flex-container.expanded(ng-show="favorites.expanded")
                .well.well-sm.tile(ng-repeat="fav in favorites.getFavorites()", ng-click="favorites.selectFavorite(fav)", ng-class="{selected: isSelectedEmployee(fav)}")
                    h5.name(ng-bind="fav.short_name", ng-class="{'smallFont': longName(fav)}")
                    img.soften(ng-src= "{{fav.image}}")
            .flex-container.center-align.collapsed(ng-show="!favorites.expanded")
                i.fa.fa-star.fa-2x
                img.soften(ng-repeat="fav in favorites.getFavorites()", ng-src= "{{fav.image}}", ng-click="favorites.selectFavorite(fav)", ng-class="{selected: favorites.isFavoriteSelected(fav), unselected: !favorites.isFavoriteSelected(fav)}")
