google-map(center="map.center", zoom="map.zoom", draggable="true", control="map.control")
    markers(models="models.work", idKey="'ticket_id'", coords="'self'", fit="true", click="'toggleSelected'")
        windows(coords="'self'", closeClick="'toggleSelected'", show="'showWindow'", isIconVisibleOnClick="false", ng-cloak)
            p(ng-non-bindable) {{company}}
        windows(coords="'self'", closeClick="'toggleSelected'", show="true", isIconVisibleOnClick="false", ng-cloak)
            p(ng-non-bindable) {{company}}
