a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
    span.fa.fa-envelope.fl
    | &nbsp;
    span.label.label-success.hidden-xs.fl {{count}}
ul(ng-cloak).dropdown-menu.messages.smFont
    li
        span.dropdown-menu-title You have {{count}} messages
    li(ng-repeat="item in itemList")
        a(href="#").container
            span.avatar
                img(ng-src="{{item.avatarLink}}", alt="Avatar")
            span.header
                span(ng-bind="item.header.from").from
                span(ng-bind="time.header.time").time
                    | &nbsp;
                br
            span(ng-bind="item.message")
    li.divider
    li
        a.dropdown-menu-sub-footer View all messages