a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
    span.fa.fa-bell.fl
    | &nbsp;
    span(ng-bind="count.warning").label.label-danger.hidden-xs.fl
    | &nbsp;
    span(ng-bind="count.total").label.label-success.hidden-xs.fl
ul.dropdown-menu.smFont.notifications
    li
        span.dropdown-menu-title You have {{count.total}} notifications
    li(ng-repeat="item in itemList", ng-class="{warning: item.warning}")
        a(href="#")
            | +&nbsp;
            i.icon-comment
            | &nbsp;
            span(ng-bind="item.message").message
            | &nbsp;
            span(ng-bind="item.time").time
    li.divider
    li
        a(ng-click="viewAll()").dropdown-menu-sub-footer View all notifications