.inner(ng-style='paneHeight(false)')
        .half.fl
            .container
                .display-row(ng-repeat='field in metadata', ng-class="{oddRow:$odd, evenRow:!$odd}")
                    span
                    span.fl.field
                        b {{field.display}}:
                    span.field-value.fl(etext="{{parse(field.fields)}}")
                    br
        .half.fr
            .accordion(accordion, close-others="false")
                div(accordion-group, is-open="locates.isOpen")
                    accordion-heading
                        div Locates
                            i.fr.fa(ng-class="{'fa-chevron-down': locates.isOpen, 'fa-chevron-right': !locates.isOpen}")
                    table(border='1', style='border-color: lightgrey')
                        tr
                            th(ng-repeat="col in tables.Locates", style="width: {{col.width}}px; padding: 2px;") {{col.column}}
                        tr(ng-repeat="row in data.ticket.locate", ng-style="lineColor($odd)")
                            td(ng-repeat="col in tables.Locates", style="width: {{col.width}}px; padding: 2px;") {{row[col.field]}}
                div(accordion-group, is-open="responses.isOpen")
                    accordion-heading
                        div Responses
                            i.fr.fa(ng-class="{'fa-chevron-down': responses.isOpen, 'fa-chevron-right': !responses.isOpen}")
                div(accordion-group, is-open="notes.isOpen")
                    accordion-heading
                        div Notes
                            i.fr.fa(ng-class="{'fa-chevron-down': notes.isOpen, 'fa-chevron-right': !notes.isOpen}")
                div(accordion-group, is-open="attachments.isOpen")
                    accordion-heading
                        div Attachments
                            i.fr.fa(ng-class="{'fa-chevron-down': attachments.isOpen, 'fa-chevron-right': !attachments.isOpen}")
                div.picture(ng-class="{big: data.ticket.big}",ng-click="data.ticket.big = !data.ticket.big",ng-if="data.ticket.picture")
                    div
                    img(ng-src="{{data.ticket.picture}}")




