.workArea.map-table.col-xs-12(ng-class="{workAreaSmall: expandedDetails, WorkAreaBig: !expandedDetails}")
    div.header.map-table-row
        div.title
            h3(ng-bind="'Work - ' + selectedEmployee.short_name", ng-show="selectedEmployee")
            h3(ng-show="!selectedEmployee") Work
        div.btns.btn-toolbar
            div.btn-group
                button.btn.btn-default(type="button",ng-click="toggleEmergency()",ng-model="emergencyMode",btn-checkbox="true",title="Emergency Mode")
                    i.fa.fa-exclamation-triangle
            div.btn-group
                button.btn.btn-default(type="button", ng-model="showTicketsForSubordinates", btn-radio="false",
                    title="Show My Work")
                    i.fa.fa-user
                button.btn.btn-default(type="button", ng-disabled="!hasSubordinates", ng-model="showTicketsForSubordinates",
                    btn-radio="true", title="Show Subordinates Work")
                    i.fa.fa-group
            div.btn-group
                button.btn.btn-default(type="button", ng-model="showMode", btn-radio="'tiles'", title="Show Work")
                    i.fa.fa-th
                button.btn.btn-default(type="button", ng-model="showMode", btn-radio="'list'", title="Show List")
                    i.fa.fa-list
                button.btn.btn-default(type="button", ng-model="showMode", btn-radio="'mapb'", title="Show Map")
                    i.icon-bing-icon
                button.btn.btn-default(type="button", ng-model="showMode", btn-radio="'mapg'", title="Show Google Map")
                    i.icon-google-icon
        .clear
    div.body.map-table-row
        div.work-list(ng-if="showMode == 'tiles'")
            input.filter(type="text", ng-model="search.text", placeholder="Search")
            select.filter(ng-model="search.des")
                option(value="") All
                option(value="ticket_id") Ticket Id
                option(value="Type") Type
                option(value="TypeAbbrev") TypeAbbrev
                option(value="caller") Caller
                option(value="company") Company
                option(value="priority") Priority
            div.btn-group
                button.btn.btn-default.filter.dropdown-toggle(type="button", data-toggle="dropdown")
                    span
                        | Sort&#32
                        i.icon-caret-down
                ul.dropdown-menu.notifications
                    li.dropdown(ng-click="setWorkSort('Acknowledged', false)")
                        i.icon-double-angle-right(ng-show="workSort === 'Acknowledged' && !sortDescending") &#32
                        | Acknowledged (New on Top)
                    li(ng-click="setWorkSort('Acknowledged', true)")
                        i.icon-double-angle-right(ng-show="workSort === 'Acknowledged' && sortDescending") &#32
                        | Acknowledged (New on Bottom)
                    li(ng-click="setWorkSort('Type', true)")
                        i.icon-double-angle-right(ng-show="workSort === 'Type' && sortDescending") &#32
                        | Type (Work Orders on Top)
                    li(ng-click="setWorkSort('Type', False)")
                        i.icon-double-angle-right(ng-show="workSort === 'Type' && !sortDescending") &#32
                        | Type (Work Orders on Bottom)
                    li(ng-click="setWorkSort('ID', false)")
                        i.icon-double-angle-right(ng-show="workSort === 'ID' && !sortDescending") &#32
                        | ID (A to Z)
                    li(ng-click="setWorkSort('ID', true)")
                        i.icon-double-angle-right(ng-show="workSort === 'ID' && sortDescending") &#32
                        | ID (Z to A)
                    li(ng-click="setWorkSort(dateDue, false)")
                        i.icon-double-angle-right(ng-show="workSort === dateDue && !sortDescending") &#32
                        | Date Due (Nearest on Top)
                    li(ng-click="setWorkSort(dateDue, true)")
                        i.icon-double-angle-right(ng-show="workSort === dateDue && sortDescending") &#32
                        | Date Due (Farthest on Top)
                    li(ng-click="setWorkSort('ticket.priority', false)")
                        i.icon-double-angle-right(ng-show="workSort === 'ticket.priority' && !sortDescending") &#32
                        | Urgency (Low to High)
                    li(ng-click="setWorkSort('ticket.priority', true)")
                        i.icon-double-angle-right(ng-show="workSort === 'ticket.priority' && sortDescending") &#32
                        | Urgency (High to Low)
            .clear
            h3(ng-show="!work") This employee has no work.
            .work(ng-repeat="item in work | orderBy:workSort:sortDescending | filter: customFilter", ng-click="select(item)", ng-class="{selected: isSelected(item), unselected: !isSelected(item), emergency: item.emergency}")
                i.work-unread(ng-hide="item.Acknowledged") |
                h6.work-label(ng-bind="item.TypeAbbrev", ng-class="{workOrder: isWorkOrder(item.Type), ticket: isTicket(item.Type), damage: isDamage(item.Type), other: isOther(item.Type)}")
                h6.work-id(ng-bind="item.ticket_id")
                img.work-image(ng-src="{{item.Image}}", ng-if="item.Image")
                .initials(ng-if="item.initials") {{item.initials}}
                h6.work-date-due(ng-bind="item.legal_due_date")
                h6.work-assigned-to(ng-bind="'Caller: ' + item.caller")
                h6.work-urgency(ng-bind="item.priority", ng-class="{urgencyLow: urgencyLow(item.priority), urgencyNormal: urgencyNormal(item.priority), urgencyMedium: urgencyMedium(item.priority), urgencyHigh: urgencyHigh(item.priority)}")
        div.map.col-md-12(ng-if="showMode == 'mapb'")
            div(work-map="")
        div.map.col-md-12(ng-if="showMode == 'mapg'")
            div(g-map="")
        div.list(ng-if="showMode=='list'")
            div
                h1
                |This list view is not complete yet.
            div
                table
                    thead
                        td Work Order #
                        td Kind
                        td Status
                        td Due Date
                        td Order Date
                        td Street
                        td City
                        td County
                        td State
                        td Map Page
                        td Map Grid
                        td Client
                    tr(ng-repeat="item in work | filter: {Type:'Work Order'}",ng-click="select(item)",ng-class="{selected: isSelected(item), emergency: item.emergency}")
                        td {{item.ID}}
                        td {{item.ticket_type}}
                        td
                        td {{item.legal_due_date}}
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
            div
                table
                    thead
                        td Ticket #
                        td Kind
                        td Due
                        td #
                        td Street
                        td City
                        td Work Type
                        td Map Page
                        td County
                        td Priority
                        td Est. Start
                    tr(ng-repeat="item in work | filter: {Type:'Ticket'}",ng-click="select(item)",ng-class="{selected: isSelected(item), emergency: item.emergency}")
                        td {{item.ticket_id}}
                        td {{item.ticket_type}}
                        td {{item.legal_due_date}}
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
            div
                table
                    thead
                        td Damage ID
                        td Damage Date
                        td Due Date
                        td Type
                        td Utility Company
                        td Location
                        td City
                        td State
                        td Country
                        td Facility Type
                        td Facility Size
                        td Facility Material
                        td Excavator Company
                        td Closed Date
                        td Priority
                    tr(ng-repeat="item in work | filter: {Type:'Damage'}",ng-click="select(item)",ng-class="{selected: isSelected(item), emergency: item.emergency}")
                        td {{item.ticket_id}}
                        td
                        td {{item.legal_due_date}}
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                        td
