div(ng-if="WorkService.selectedWork.length == 1")
    .details-header
        span.fl
            a.btn.btn-default.fa.fa-refresh
            a.btn.btn-default(ng-click='acknowledgeWork()', ng-disabled="!canAcknowledge()", ng-class="{'fa-square-o': canAcknowledge(), 'fa-check-square-o': !canAcknowledge()}").fa
            h4.type-id(ng-show='headerWorkType!=""') {{headerWorkType}}: {{headerWorkId}}
        span.fr
            a.fa(ng-click='toggleDetailsSize()', title="Expand/shrink details", ng-class="{'fa-chevron-down': expandedDetails, 'fa-chevron-up': !expandedDetails}")
    .details(ng-class="{detailsSmall: !expandedDetails, detailsBig: expandedDetails}", ng-style="paneHeight(true)")
            div(ng-show='workType == "ticket"', ticket-detail)
            div(ng-show='workType == "damage"')
                p DAMAGE RENDERING HERE
            div(ng-show='workType == "workorder"')
                p WORK ORDER RENDERING HERE