.work-description.section
    h4 Work Address
    div {{ticket.work_address_number}} {{ticket.work_address_number_2}} {{ticket.work_address_street}}
    div {{ticket.work_city}}, {{ticket.work_state}}, {{ticket.work_county}}
    div Subdivision: {{ticket.work_subdivision}}
    div Coordinates: {{ticket.work_lat}}, {{ticket.work_long}}
    h4 Work Description
    div {{ticket.work_description}}
    h4 Work Remarks
    div {{ticket.work_remarks}}