a.btn.dropdown-toggle(data-toggle="dropdown", ng-click='navigate()', ng-attr-title='{{filter}}')
    span.fl.sync-icon.fa( ng-class='icon')
    | &nbsp;
    span.label.fl( ng-class='label') {{length}}
