a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
    span.fa.fa-tasks.fl
    | &nbsp;
    span.label.label-info.hidden-xs.fl {{count}}
ul.dropdown-menu.smFont.tasks
    li
        span.dropdown-menu-title You have {{count}} tasks in progress
    li(ng-repeat="item in workQueueList")
        a(href="#")
            span.header
                span(ng-bind="item.title").title
                | &nbsp;
                span.percent {{item.percent}}%
            .taskProgress.progressSlim.progressYellow.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all(role="progressbar", aria-valuemin="0", aria-valuemax="100", aria-valuenow="{{item.percent}}")
                | {{item.percent}}
                .ui-progressbar-value.ui-widget-header.ui-corner-left(ng-style="{width: item.percent}")
    li.divider
    li
        a(ng-click="viewAll()").dropdown-menu-sub-footer View all tasks