﻿nav.navbar.navbar-default.navbar-inverse.navbar-static-top(role='navigation')
    .navbar-header
        a.navbar-brand(href='#', ng-click="toggleSidebar()")
            span#toggleSidebarBtn.fa.fa-bars.icon-white
            img.q-logo(src="img/logo_q.png")
            span(ng-bind="header.title")
        button.navbar-toggle(type='button', ng-click="header.isCollapsed = !header.isCollapsed")
            span.sr-only Toggle Top Navigation
            i.fa.fa-align-justify
    .navbar-collapse.navbar-collapse-top(collapse="header.isCollapsed")
        .navbar-right
            ul.nav.navbar-nav.navbar-left.ticketCount
                li.sync(sync-status)
                li(ticket-dropdown, filter='Ongoing Tickets', icon='{"fa-folder-open":true}', label='{"label-success":true}').dropdown.cdrop
                li(ticket-dropdown, filter='New Tickets', icon='{"fa-plus-square":true}', label='{"label-info":true}').dropdown.cdrop
                li(ticket-dropdown, filter='Emergency Tickets', icon='{"fa-exclamation":true}', label='{"label-danger":true}').dropdown.cdrop
                li(ticket-dropdown, filter='All Damages', icon='{"fa-flash":true}', label='{"label-danger":true}').dropdown.cdrop
                li(ticket-dropdown, filter='All Work Orders', icon='{"fa-file":true}', label='{"label-success":true}').dropdown.cdrop
                li(notifications, ng-if="options.demoMode").dropdown.cdrop
                li(workqueue, ng-if="options.demoMode").dropdown.cdrop
                li(messages, ng-if="options.demoMode").dropdown.cdrop


                li.wrench-fix.cdrop(title="Settings", ng-if="options.demoMode")
                    a.btn(href="/settings")
                        i.fa.fa-wrench.hidden-xs.hidden-sm
                        i.fa.fa-wrench.visible-xs.visible-sm
                            | &nbsp;
                            | Settings
                // start: User Dropdown
                li.dropdown.cdrop
                    a.btn.dropdown-toggle(title="User", data-toggle="dropdown", href="#")
                        i.fa.fa-user.hidden-xs.hidden-sm
                        i.fa.fa-user.visible-xs.visible-sm
                            | &nbsp;
                            | User
                            | &nbsp;
                            i.caret
                    ul.dropdown-menu
                        li(ng-if="options.demoMode")
                            a(href="#")
                                i.fa.fa-user
                                | &nbsp;
                                | Profile
                        li
                            a(href="#", logout-button)
                                i.icon-off
                                | &nbsp;
                                | Logout
                // end: User Dropdown
                // end: Header Menu
