div
    .sidebar-background
        .primary-sidebar-background
    .primary-sidebar(ng-class="{'tablet-sidebar' : tabletSidebar}").big-icons
        ul.nav.frontToolBar
            div(sidebar-element, href="/managedash", title="Overview", icon="fa-bar-chart-o")
            div(sidebar-element, href="/manage", title="Manage Work", icon="fa-briefcase", ng-if="options.demoMode")
            div(sidebar-element, href="/allocation", title="Allocation", icon="fa-briefcase")
            div(sidebar-element, href="/mystats", title="My Stats", icon="fa-home")
            div(sidebar-element, href="/mywork", title="My Work", icon="fa-list-alt", ng-if="options.demoMode")
            div(sidebar-element, href="/messages", title="Messages", icon="fa-envelope", ng-if="options.demoMode")
            li.dark-nav(ng-if="options.demoMode").small-icons
                span.glow
                a.accordion-toggle.collapsed(data-toggle='collapse', href='#WLGsdJPav9')
                    i.fa.fa-folder.fa-2x
                    span.hidden-sm.hidden-xs
                        | Tickets
                        i.fa.fa-caret-down
                ul#WLGsdJPav9.collapse
                    li
                      a(href='/newticket')
                        i.fa.fa-plus
                        span.hidden-sm.hidden-xs New Ticket
                    li
                      a(href='/ticketdetail')
                        i.fa.fa-file
                        span.hidden-sm.hidden-xs Ticket Detail
                    li
                      a(href='/oldticket')
                        i.fa.fa-file
                        span.hidden-sm.hidden-xs Old Tickets
                    li
                      a(href='/findticket')
                        i.fa.fa-search
                        span.hidden-sm.hidden-xs Find Tickets
            div(sidebar-element, href="/findwo", title="Find WO", icon="fa-search", ng-if="options.demoMode")
            div(sidebar-element, href="/damage", title="Damage", icon="fa-flag", ng-if="options.demoMode")
            div(sidebar-element, href="/reports", title="Reports", icon="fa-print", ng-if="options.demoMode")
            div(sidebar-element, href="/approval", title="Approval", icon="fa-check", ng-if="options.demoMode")
            div(sidebar-element, href="/Assets", title="Assets", icon="fa-book", ng-if="options.demoMode")
            div(sidebar-element, href="/billing", title="Billing", icon="fa-shopping-cart", ng-if="options.demoMode")
            div(sidebar-element, href="/areaeditor", title="Area Editor", icon="fa-globe", ng-if="options.demoMode")
            div(sidebar-element, href="/options", title="Options", icon="fa-cogs")
