div.alert-margin(qm-alert="", ng-repeat="alert in queue", type="alert.type", close="removeAlert($index)")
    .alert-details
        div(arrow-accordion="")
            div(arrow-accordion-group="", heading="{{alert.title}}")
                p(ng-repeat="msg in alert.msgs")
                    strong(ng-bind="msg.label")
                    span(ng-bind="msg.data")