.settings-page(ng-init="init()")
    .row-fluid
        div.titles Data Selection
    .row-fluid
        div
            .col.colSm
                label
                    strong Category
                .btn-group.btn-group-vertical.fullWidth(data-toggle="buttons-radio")
                    button.btn.fullWidth(ng-class="{active: timeSeries.selected.ent_cat == obj}", ng-repeat="obj in timeSeries.entity_categories", ng-click="timeSeries.selected.ent_cat=obj", ng-bind="obj")
            .col.colLg
                label
                    strong Entity
                .btn-group.btn-group-vertical.fullWidth.entList(data-toggle="buttons-radio")
                    button.btn.fullWidth(ng-class="{active: timeSeries.selected.ent_code == obj.ent_code}", ng-repeat="obj in timeSeries.entities", ng-click="timeSeries.selected.ent_code = obj.ent_code", ng-bind="obj.ent_name")
            .col.colLg
                label
                    strong Metric
                .btn-group.btn-group-vertical.fullWidth(data-toggle="buttons-radio")
                    button.btn.fullWidth(ng-class="{active: timeSeries.selected.metric_code == obj.metric_code}", ng-repeat="obj in timeSeries.metrics", ng-click="timeSeries.selected.metric_code = obj.metric_code", ng-bind="obj.metric_name")
            .col.colSm
                label
                    strong Granularity
                .btn-group.btn-group-vertical.fullWidth(data-toggle="buttons-radio")
                    button.btn.fullWidth(ng-class="{active: timeSeries.selected.gran_code == obj.gran_code}", ng-repeat="obj in timeSeries.granularity", ng-click="timeSeries.selected.gran_code = obj.gran_code", ng-bind="obj.gran_name")
            .col.colMed
                .btn-group.btn-group-vertical.fullWidth
                    button.btn.btn-success.span12.fullWidth(style="margin-bottom: 5px", ng-click="addGraphURL()") Add Entity
                    button.btn.btn-danger.span12.fullWidth(style="margin:0", ng-click="removeGraphURL()", ng-show="timeSeries.urls.length > 0") Remove Entity
    .row-fluid
        .span6.text-error(ng-bind="timeSeries.error")
    .row-fluid
        div(time-series-graph="", data-source-urls="timeSeries.urls", data-graph-style="timeSeriesGraphLarge")