.mystats
    div.titles Example Dashboard - Call Centers, Received and Closed
    div(ng-repeat="g in graphs")
        h4 {{g.label}}
        div(time-series-graph="",
        data-source-urls='g.url',
        data-graph-options="g.graphOptions",
        data-graph-style="timeSeriesGraphThin",
        data-sync-family="myStats",
        data-sync-data="plotFamilies")