/** Imports **/
@import "compass/utilities/general/min";
@import "compass/utilities/general/float";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

/* Load template CSS */
@import "template/application";
@import "template/login-box";

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

$heightTransition: height .25s;

@mixin maxHeight($offset) {
  @include calc(height, "100% - " + $offset);
  @include calc(max-height, "100% - " + $offset);
}

.login{
  margin: 5% auto;
  width: 80%;
}
.login-box{
  background-color:red;
}
.login-box h2 {
  color: $gray-blue;
  margin-left: 0px;
  margin-top:-20px;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 15px;
  font-weight: bold;
 }
a.fa{
  color:#939393;
  font-size:20px;
}
.text-box {
  .resize-text{
    width: 80% !important;
  }
}
.picture-adjust{
  width: 95%;
  height: auto;
}

.browsers {
  height: 15px;
  float: left;
  margin-left: 3px;
  font-size: 10px;
  color: $browser-warning;
  vertical-align: middle;
}

.browser-img { 
  height: 100%;
  vertical-align: top;
  padding-top: 3px;
  padding-left: 20px;  
}

.main-content {
  width: 100%;
  @include maxHeight(54px);
  margin-left: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;

  .container {
    height: 100%;
    max-height: 100%;

    .row {
      height: 100%;
      max-height: 100%;

      .angview {
        @include maxHeight(5px);
        overflow: auto;
      }
    }
  }
}

.notFullWidthContent {
  width: calc(100% - 201px);
}

.tablet-sidebar {
  width: 70px;
  z-index: 5;
  position: relative;
}

#toggleSidebarBtn {
  vertical-align: middle;
  padding-right: 15px;
}

img.q-logo {
  height: 23px;
  margin-right: 5px;
}

.primary-sidebar {
  .nav > li > a{
    color: $sidebar-inactive-color;
  }
  .nav > li.active > a{
    color: $sidebar-active-color;
  }
  
}
.navbar-inverse .nav {
  float:right;
  clear:right;
  text-align:right;
  margin-top:0px;
  margin-bottom:0px;
  .sync{
    float:left;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:5px;
  }
  

  > li.cdrop > a{
    padding: 3px 10px;
    margin-right: 7px;
    padding-left: 5px;
    padding-right: 0px;
    line-height: 20px;
    height: 21px;
      .fa.fa-user{
        position:relative;
        vertical-align: middle;
        text-shadow: 0 0px;
        font-size: 12px;
        padding-right: 5px;
        margin-bottom:8px;

  }
      .fa.fa-envelope{
        font-size:12px;
        margin-top: 1px;
        margin-right:4px;
        text-shadow: 0 0px;
  }
      .fa.fa-wrench{
        position:relative;
        vertical-align: middle;
        text-shadow: 0 0px;
        font-size: 12px;
        padding-right: 5px;
        margin-bottom:8px;


  }
      .fa.fa-folder-open{
        font-size:11px;
        margin-right:3px;
        margin-top: 2px;
        text-shadow: 0 0px;
  }
      .fa.fa-plus-square{
        font-size:11px;
        margin-right:3px;
        margin-top: 2px;
        text-shadow: 0 0px;
  }
      .fa.fa-exclamation{
        font-size:12px;
        margin-right:3px;
        margin-top: 2px;
        text-shadow: 0 0px;
  }
      .fa.fa-flash{
        font-size:11px;
        margin-right:3px;
        margin-top: 2px;
        text-shadow: 0 0px;
  }
      .fa.fa-file{
        font-size:11px;
        margin-right:3px;
        margin-top: 2px;
        text-shadow: 0 0px;
  }
      .fa.fa-bell{
        font-size:11px;
        margin-top: 2px;
        margin-right:4px;
        text-shadow: 0 0px;
  }
      .fa.fa-tasks{
        font-size:12px;
        margin-top: 2px;
        margin-right:4px;
        text-shadow: 0 0px;
  }
  }
} 
.navbar .ticketCount li{
  color: $gray;
  font-size: 12px;
  padding-right: 15px;
  margin-top: 17px;

  .n {
    font-size: 12px;
    color:$gold;
    padding-left:3px;

  }

  &.sync{
    padding-right: 15px;
    margin-top: 17px;
  
    
  }
}


.sync-icon{
    position:relative;
    font-size:16px;
    padding-right:1px;
    vertical-align: middle;
    text-align:center;
}

.label{
  font-size:12px;
  padding-bottom:2px;
}

/** Generic **/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.titles {
  font-size: 1.5em;
  line-height: 1.5em;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.fl {
  @include float-left;
}

.fr {
  @include float-right;
}

.fullWidth {
  width: 100%;
}

.clear {
  clear: both;
}

/** Basic Layout **/
.frontToolBar {
  z-index: 3;
}
.bringFront {
  z-index: 2;
}
.bringBack {
  z-index: 1;
}

.toggleLeft {
  left: 0px !important;
  @include transition(left, .3s, ease);
}

/** Overview Screen **/
.dropdown-menu.smFont {
  font-size: 0.75em;
}

.pie-label {
  color: green;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  margin-top:-87px;
  margin-bottom:60px;
}

.graph {
  min-height: 5px;
  width: 100%;
  height: 100%;
}

.ticket-details-page {
  .sidebar {
    display: inline;
    float: left;
    padding: 5px;
    position: absolute;
    font-size: 16px;
  }
    
    .view {
        float: left;
        margin-left: 25px;
        @include calc(width,"100% - 30px");
        .section {

            .button-row {
              margin-left: 10px;
              margin-right: 10px;
            }
            margin: 5px;
            width: 100%;
            strong {
              font-weight: bold;
            }
            .well {
              margin-left: 10px;
              margin-right: 10px;
            }
            .well:last-child {
              margin-bottom: 0px;
            }
            dd:not(:last-child) {
              margin-bottom: 20px;
            }
            dl {
              margin-bottom: 0px;
            }
            th {
              font-weight: bold;

            h3 {
              margin-top: 0px;

            }

            }
        }
        .notes {
          display: inline-block;
          > div {
            clear: both;
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;

            .noteText {
              color: blue;
              font-weight: bold;
            }
          }
          textarea {
            margin-bottom: 5px;
          }
        }
    }
}

.overview-page {
  width: 100%;
  height: 100%;
  max-height: 100%;
  
  .graphTitleWrapper .graphTitle{
    font-size: 11px;
    color:$medium-blue;
    padding-bottom:5px;

  }
  .ng-isolate-scope{
    top: 75px;
    right: 25px;
    font-size: smaller;
    color: $gray-blue;
}

  .format-overview {
    margin-bottom: 10px;
    margin-left:0px;
    margin-right:0px;
  }

  .left-box {
    display: inline;
    @include maxHeight(40px);
    .big-box {
      background-color: $box-background-color;
      border-radius: 4px;
      width:520px;
      border: $grayBorder;
      padding: 5px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:5px;
      h4 {
        font-size: 1.5em;
        color: $big-box-title-color;
        color:black;
        text-align:center;
        font-size:30px;
        font-weight:bold;
        margin-left:10px;
      }

      .duePieBig {
        height: 250px;
      }
      .pie-label {
        color: #939393;
        margin-left: 75px;
        font-size:18px;
        font-weight:bold;
        margin-top:-160px;
        margin-bottom:82px;
      }
        
      .text{
        font-size:16px;
        font-weight:300;
        padding-right: 6px;
      }

      .number{
        font-size:40px;
        font-weight:bold;
        position: relative;
        top: -10px;
        margin-bottom:0px;
      }
    }
  }
  .legend{ 
          right:15px;
          float:right;
          position: relative;
          font-size:15px; 
          margin-bottom: 10px;
          margin-top: -11px;
          .legendLabel {
            padding-left: 8px;
            right: 4px;
            font-weight: bold;
            color:white;
            span{
              font-size: 18px;
              font-weight: bold;
              margin-left: 8px;
            }
            width:100%;
            position:relative;
            top:-20px;
            text-align:center;
         
          }
          .legendColorBox div{
            border-width:0px !important;
            div {
              width:100% !important;
              border-width:8px !important;
              margin-top:15px;
            }
          } 
          table{
            margin-right:auto;
            margin-left:auto;
            tr{
              display:block;
              text-align:center;
              margin-bottom: -36px;
            }
            td{
              display:inline;
            }
          }
        }
  .right-box {
    @include maxHeight(140px);
    overflow: scroll;
    margin-left:25px;

    .small-box {
      background-color: $box-background-color;
      border-radius: 4px;
      border: $grayBorder;
      padding: 5px;
      float: left;
      margin-left:auto;
      margin-right:auto;
      width:236px;
      margin-left:2px;
      margin-bottom:5px;


      h5 {
        color: $small-box-title-color;
        text-align:center;
        font-weight:bold;
        margin-left:12px;
        margin-top: 0px;
        margin-bottom:0px;
      }

      .duePieSmall {
        height: 135px;
      }
      .pie-label {
        color: #939393;
        text-align:center;
        font-size:18px;
        font-weight:bold;
        margin-top:-95px;
        margin-bottom: 45px;
        margin-left: 49px;
      }
      .legend{
          margin-top:-2px;
          right:0px;
          font-weight:bold;
          position:relative;
          font-size:10px; 
          font-weight: 300;
          margin-bottom: 0px;

          tr {
            padding-top: 6px;
          }

          .legendLabel {
            padding-left: 6px;
            right: 3px;
            color:white;
            visibility:hidden;
          }
            span{
              font-size:11px;

              visibility:visible;

            }
          }
          .legendColorBox div{
            border-width:0px !important;
            div {
              width:100% !important;
              border-width:0px !important;
              border-bottom-width:0px !important;
            }
          }
          table{
            margin-right:auto;
            margin-left:auto;
            tr{
              display:block;
              text-align:center;
              margin-bottom: -32px;
            }
            td{
              display:inline;
            }
          } 
        .text{
        color:#939393;
        font-weight:300;
        font-size:12px;
        }
        .number{
        color:#939393;
        font-size:22px;
        position: relative;
        top: -6px;

        }

      .prodGraphSmall {
        height: 120px;
      }
    }
  }
}
  .bottomgraph{
    color:red;
    background-color:$gray;
  }

/** Tooltip **/
flotTip {
  background: $bar-graph-tooltip-background;
  border: $bar-graph-tooltip-border;
  font-size: 1em;
  padding: 2px;
  border-radius: 1px;
  display: inline-block;
  white-space: nowrap;
  z-index: 100;
}

/** Breadcrumbs **/
.breadcrumbs {
  margin-left: 5px;
  line-height: 1.75em;
  float: left;
  display: inline-block;

  .separator {
    margin-left: 5px;
    margin-right: 5px;
  }

  .current {
    font-weight: bold;
    color:black;
    padding-left:12px;
    padding-top:10px;
  }

  .clicker {
    cursor: pointer;
  }
}

/** Settings Screen **/
.settings-page {
  .entList {
    height: 200px;
    overflow-y: scroll;
  }

  .row-fluid {
    .col {
      @include float-left;
      margin: 5px;
    }

    .colSm {
      width: 100px;
    }

    .colMed {
      width: 150px;
    }

    .colLg {
      width: 300px;
    }
  }
}
.touchButtonGroup{
    margin-top:1px;
  }
/** Manage Work Screen **/
.manage-page {
  height: 100%;
  .selected {
    background-color: $tile-selected-color;
    border: $grayBorder;
  }
  .unselected {
    background-color: $tile-unselected-color;
    border: $whiteBorder;
  }
  .mw-header {
    margin-top: 5px;
  }

  .view-btns {
    float: right;
    padding-right: 5px;
  }

  .x-small-font {
    font-size: 0.65em;
    overflow: hidden;
  }

  .small-font {
    font-size: 0.8em;
    overflow: hidden;
  }

  .tiny-font {
    font-size: 0.6em;
    overflow: hidden;
  }

  .x-tiny-font {
    font-size: 0.5em;
    overflow: hidden;
  }

  .mw-left {
    float: left;
    display: table;
    height: 100%;
  }

  .mw-right {
    float: left;
    display: table;
    height: 100%;
  }
  .row {
    display: table-row;
  }

  .format-manage {
    padding: 10px 5px 0px 5px;
  }

  .btn.btn-primary{
    @media (max-width: 975px){
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    }
    @media (max-width: 430px){
      padding: 1px 5px;
    }
  }

  /** People **/
  .people {
    border: $grayBorder;
    border-radius: 3px;
    background-color: $people-area-background;
    overflow: auto;
    clear: left;
    @include transition($heightTransition);
    height: 100%;
    min-height: 100px;
    .btn-group {

      .btn {
        border-bottom-width: 2px;
        border-bottom-color: $people-area-background;
        margin-bottom: 1px;
        &.active {
          border-bottom-color: $radio-button-underline;
        }
      }
    }
    .fa {
      font-size: 14px;
      color:#939393;
    }
    
    .breadcrumbs {
        padding: 4px;
    }
    .touchButton {
      height: 22px;
      width: 44px;
      padding-top: 3px;
      margin-bottom: 5px;


    }
    .bar-graph {
        font-size: 11px;
        color: $default-text-color;
        margin-top:30px;
    }
    .manager {
      display: block;
      margin-top: 5px;
      margin-bottom: 15px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 5px;
      border-bottom-width: 2px;
      height: 35px;
      overflow: hidden;
      clear: both;

      .info{
        height:35px;
      }

      button {
        float: left;
        display: inline-block;
      }
      .touchButton {
        &.contact {
          margin-left: 5px;
        }
        &.up {
          width: 5.5em;
          margin-left: 5px;
        }
      }
      h3 {
        display: inline-block;
        margin-left: 8px;
        margin-top: 2px;
        float: left;
        font-weight: bold;
        font-size: 16px;
      }

      h5.titlePlaceholder {
        display: inline-block;
        font-size: 0.75em;
        margin-left: 6px;
        margin-top: 2px;
        float: left;
        color:$medium-blue;

      }

      img {
        float: right;
        padding-right: 5px;
        -webkit-border-radius: 50%;
        height: 25px;
              }

      .initials {
        float: right;
        padding-right: 5px;
        -webkit-border-radius: 50%;
        height: 25px;
      }

      .managerContactInfo{
        text-align: right;
        height: 0px;
        padding-right: 50px;
        div{
          white-space: nowrap;
          position: relative;
          top: -39px;
          line-height: 14px;
          font-size:11px;
          color:$medium-blue;
          background: white;
          float: right;
          clear: right;
          &.none{
            font-size:20px;
            top: -32px;
          }
        }
      }
    }

    .employee-list {
      clear: left;
      text-align: center;

      .employee {
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border-bottom-width: 2px;
        padding: 3px;
        margin: 5px;
        min-width: 176px;
        @include calc(width,"33.33% - 16px");
        overflow: visible;
        display: inline-block;
        *display: inline;
        *margin: 0 20px 0 20px;

        .select {
          height:58px;
        }

        h5.name {
          text-align:center;
          margin-top: 0px;
          margin-bottom: 0;
          font-size:11px;
          font-weight:bold;
        }

        h6.title {
          font-size:9px;
          text-align:center;
          margin-top: 0;
          margin-bottom: 3px;
          color:#4fc4f6;
          text-weight:bold;
        }

        img {
          
          -webkit-border-radius: 50%;
          margin-right: 5px;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 5px;
          margin-top: 2px;
          margin-bottom: 0;
          font-size:14px;
          font-weight:bold;
        }

        h6.title {
          font-size:11px;
          margin-left: 5px;
          margin-top: 0px;
          padding-top:5px;
          margin-bottom: 3px;
          color:$green;
        }

        img {
          -webkit-border-radius: 50%;
          margin-right: 5px;
          margin-top: 5px;
          margin-bottom:0px;
          width:21%;    
        }
        
        .initials {
          float: right;
          -webkit-border-radius: 50%;
          margin-right: 5px;
          margin-top: 5px;
          display: inline-block;
        }

        .modal-dialog{
          width: 600px;
          height: 200px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -100px;
          margin-left: -300px;
          padding: 20px;
        }

        .contactInfo{
          background: inherit;
          height: 0;
          div{
            width: 100%;
            position: relative;
            top:-61px;
            white-space: nowrap;
            background: inherit;
            padding-left: 5%;

            &.none{
              font-size:20px;
              top:-54px;
            }
          }
        }
      }
    }

  .employee-thumb {
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    @include calc(width, "100% - 106px");

    img {
      height: auto;
      width: 35px;
      display: inline-block;
      margin-left: 5px;
      margin-top: -5px;
    }
  }
}

/** Work **/
.workArea {
  border-radius: 3px;
  float: left;
  border: $grayBorder;
  background-color: $work-area-background;
  overflow-x: hidden;
  overflow-y: auto;
  @include transition($heightTransition);
  height: 100%;
  min-height: 100px;
  padding-right: 0px;
  .btn-group {
      .btn {
        border-bottom-width: 5px;
        border-bottom-color: $work-area-background;
        margin-bottom: 5px;
        &.active {
          border-bottom-color: $radio-button-underline;
        }
      }
    }
  .header {
    height: 0;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    .title h3 {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
      color: $medium-blue;
    }

    .title {
      float: left;
    }

    .btns {
      float: right;
      .fa {
        font-size: 14px;
        color:#939393;

      }
      button{
        font-size: 14px;
      }
    }
  }

  .view-btns {
    margin-top: 5px;
    margin-right: 5px;
  }
  h3 {
    text-align: left;
    margin-left: 5px;
    display: inline-block;
  }

  .work-list {
    clear: both;

    .filter{
      background: #fdfdfd;
      border: 1px solid #d7d7d7;
      height: 31px;
      vertical-align: bottom;
      margin: 0;
    }
  }
  
  div.list
  {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .list div{
    overflow-x: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    table {
      border-collapse: collapse;
      width: 100%;
      thead td{
        font-weight: bold;
        background: lightgray;
      }

      tr{
        background: white;
        &:nth-child(2n+1) {
          background: #ebebeb;
        }
        &.emergency{
          background: $emergency-color;
        }
        &.selected {
          border: $blueBorder;
          font-weight: bold;
          color: $medium-blue;
        }

        td{
          border: 1px solid lightgray;
        }
      }
    }
  }
}

  /** Details **/
  .details {
    display: inline-block;
    border: $grayBorder;
    border-radius: 3px;
    background-color: $details-area-background;
    overflow: auto;
    margin-top: 10px;
    &.detailsSmall {
      height: 128px;
      transition: $heightTransition;
    }
    .fa {
      padding-left: 5px;
      color:#939393;
    }
    &.detailsBig {
      height: 53vh;
      transition: $heightTransition;
    }
    .field-value {
      padding: 2px;
      font-size: 12px;
      margin-top: 3px;
      font-weight: 700;
      color: #2674a9;
    }
    .field {
      margin-top: 4px;
      font-size: 11px;
      font-weight: bold;
      min-width: 80px;
      color: $medium-blue;
    }
    .view-btns {
      margin-right: 5px;
      margin-top: 5px;
    }
    .ticket-header {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      h5 {
        display: inline;
        margin: 0;
      }
    }
    .ticket-info {
      margin-top: -5px;
      .ticket-field {
        height: 26px;
        float: left;
      }
    }
  }
}

.oddRow {
    background-color: $odd-row;
}
.evenRow {
    background-color: $even-row;
}
.cdrop{
float:left;
}

/** Favorites **/
.favorites {
  width: 100%;
  float: left;
  border: $grayBorder;
  border-radius: 3px;
  background-color: $favorites-background-color;
  overflow: auto;
  margin-top: 10px;
  clear: left;
  margin-bottom: 5px;
  .fa {
    padding-left: 5px;
    color:#939393;
  }

  .view-btns-group {
    margin-top: 5px;
    margin-right: 5px;
  }
  .view-btns {
    margin-left: 5px;
  }

  &.favoritesSmall {
    height: 75px;
    transition: $heightTransition;
  }
  &.favoritesBig {
    height: 300px;
    transition: $heightTransition;
  }

  .flex-container {
    display: -webkit-flex;
    flex-wrap: wrap;

    &.center-align {
     align-items: center;
    }
  }

  .soften {
    -webkit-border-radius: 2px;
  }

  .expanded {
    .tile {
      height: 65px;
      margin: 5px;

      .name {
        float: left;
        margin-right: 20px;
      }
    }
  }

  .collapsed {
    padding: 10px;
    min-height: 74px;

    .fa-star {
      margin-right: 15px;
    }

    img {
      min-width: 44px;
      max-width: 44px;
      margin: 5px;
    }
  }


}

  /** Details **/
  .details-header {
    height: 38px;
    padding: 2px;
    border: $grayBorder;
    margin-bottom: -5px;
    background-color: $details-header-background;

    a {
      i{
        margin-right: 2px;
      }
    }
    h4{
    font-weight: bold;
    color: $medium-blue;
    }
    .type-id{
      position: relative;
      left: 90px;
      top: -35px;
      margin-bottom: -35px;
    }
    .btn-default {
      margin-left: 5px;
      font-size: 14px;
    }
    .btn-lightblue {
      font-size: 14px;
    }
    .fa {
    color:#939393;
  }
  }

  .details {
    width: 100%;
    display: inline-block;
    border: $grayBorder;
    border-radius: 3px;
    background-color: $details-background;
    max-height: 600px;
    overflow: auto;
    margin-top: 10px;
    &.detailsSmall {
      height: 160px;
      transition: $heightTransition;
      .inner {
        height: 150px;
      }
    }
    &.detailsBig {
      height: 350px;
      .inner{
        height: 345px;
      }
      transition: $heightTransition;
    }

    .half{
      width: 49%;
      overflow-y: scroll;
      height: 100%;
    }
    .panel-title{
      font-size: 13px;
      font-weight: bold;
      color: $medium-blue;
    }
    .accordion {
      margin-right: 10px;
      margin-top: 10px;
    }

    .panel-body{
      font-weight: bold;
      color: #2674a9;
      text-align:center;
    }
    

    .picture{
      width:100%;
      margin-top: 5px;
      img{
        width:100%;
        height: auto;
      }
      &.big{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1005;
        img{
          position: fixed;
          top: 10%;
          left: 10%;
          height: 80%;
          width: 80%;
        }
        div{
          width: 100%;
          height: 100%;
          opacity: .5;
          background: gray;
        }
      }
    }

    .container {
      width: 100%;
      display: table;
      padding: 5px;

      .display-row {
         display: table-row;

        .field {
          padding: 2px;
        }

        .key {
          padding: 2px;
        }
      }
    }
  }

.work {
  border-bottom-width: 2px;
  border-radius: 3px;
  margin: 2px;
  float: left;
  width: 180px;
  height: 56px;
  background-color: $work-background;

  &.emergency{
    background: $emergency-color;
    color: $red;
    border: 1px solid $red;
  }

  img {
    border-radius: 50%;
  }

  h6 {
    line-height: 1.2em;
    color: inherit;
    &.work-urgency{
      color: black;
    }
  }

  .work-unread {
    font-size: 14px;
    text-align: center;
    clear: left;
    color: $work-unread-alert;
    float: left;
    margin-left: 3px;
    margin-top: 0px;
    font-wieght: bold;
  }
  .work-label {
    width: 26px;
    height: 14px;
    border-radius: 3px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
    
    display: inline-block;
    &.workOrder {
      background-color: $work-order-color;
      color: $work-order-text-color;
    }
    &.ticket {
      background-color: $ticket-color;
    }
    &.damage {
      background-color: $damage-color;
      color: $damage-text-color;
    }
    &.emergency {
      background-color: $emergency-label-background;
      color: $emergency-label-color;
    }
    &.other {
      background-color: $other-work-color;
      border: $blackBorder;
    }
  }
  .work-id {
    width: 80px;
    margin-left: 3px;
    margin-top: 5px;
    float: left;
    display: inline-block;
    overflow: hidden;
  }
  .work-image {
    float: right;
    height: auto;
    width: 34px;
  }
  .initials {
    float: right;
    height: auto;
    width: 34px;
  }
  .work-date-due {
    float: left;
    margin-top: -6px;
    margin-left: 3px;
    font-size: 0.7em;
    clear: left;
    color:$dark-blue;
  }
  .work-assigned-to {
    text-align: left;
    margin-top: -9px;
    margin-left: 4px;
    font-size: 0.7em;
    clear: left;
    display: inline-block;
    width: 140px;
    height: 12px;
    overflow: hidden;
    color: $black;
  }
  .work-urgency {
    float: right;
    margin-top: -8px;
    margin-right: 3px;
    height: 13px;
    width: 25px;
    font-size: 0.7em;
    display: inline-block;
    background-color: $work-urgency-default-background;
    border-radius: 3px;
    text-align: center;
    &.urgencyLow {
      // placeholder: custom formatting for a Low priority work
    }
    &.urgencyNormal {
      // placeholder: custom formatting for a Normal priority work
    }
    &.urgencyMedium {
      color: $work-urgency-medium-text;
    }
    &.urgencyHigh {
      background-color: $work-urgency-high-background;
      color: $work-urgency-high-text;
    }
  }
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map {
  height: 100%;
}

.map-table {
  display: table;
}

.map-table-row {
  display: table-row;
}

.map-error {
  text-align: center;
}
/** Timeseries Graph **/
.timeSeriesGraph {
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 98%
}

.timeSeriesGraphLarge {
  height: 250px;
  width: 98%
}

.timeSeriesGraphThin {
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 98%
}

.graphTitleWrapper {
  margin-bottom: 2px;
  padding-top: 14px;

  .graphTitle {
    font-size: 9px;
    color:$medium-blue;
    padding-bottom:5px;
  }
}

.mystats {
}

/** Global Error Handler **/
div.alert-details {
  p {
    margin-bottom: 2px;
  }

  h4 {
    text-decoration: underline;
  }

  .accordion {
    margin-bottom: 0;
  }
}

.alert-margin {
  margin-top: 5px;
  margin-bottom: 0px;
}

/** Error Overlay **/
div#fatal-error {
  display: none;
}

/** Loading Overlay **/
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  -ms-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin animation($type, $timingFn, $delay, $iterations, $fillMode) {
  -webkit-animation: $type $timingFn $delay $iterations $fillMode;
  -moz-animation: $type $timingFn $delay $iterations $fillMode;
  -o-animation: $type $timingFn $delay $iterations $fillMode;
  -ms-animation: $type $timingFn $delay $iterations $fillMode;
  animation: $type $timingFn $delay $iterations $fillMode;
}

.overlay {
  background: #080808;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  ul {
    padding: 0;
    margin: 300px auto 0;
    list-style: none;
    text-align: center;
    display: block;
    li {
      width: 10px;
      height: 10px;
      background-color: $white;
      display: inline-block;
      margin: 0 4px;
      @include single-box-shadow(rgba(255, 255, 255, 0.5), 0px, 1px, 0px);
      @include border-radius(50%);
      @include animation(loading, cubic-bezier(0.03, 0.615, 0.995, 0.415), 2.5s, infinite, both);
      &.li6 {
        @include animation-delay(0.1s);
      }
      &.li5 {
        @include animation-delay(0.25s);
      }
      &.li4 {
        @include animation-delay(0.5s);
      }
      &.li3 {
        @include animation-delay(0.75s);
      }
      &.li2 {
        @include animation-delay(1s);
      }
      &.li1 {
        @include animation-delay(1.25s);
      }
    }
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-30px);
    opacity: 0
  }
  25% {
    opacity: 1
  }
  50% {
    -webkit-transform: translateX(30px);
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: translateX(-30px);
    opacity: 0
  }
  25% {
    opacity: 1
  }
  50% {
    -moz-transform: translateX(30px);
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-o-keyframes loading {
  0% {
    -o-transform: translateX(-30px);
    opacity: 0
  }
  25% {
    opacity: 1
  }
  50% {
    -o-transform: translateX(30px);
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-ms-keyframes loading {
  0% {
    -ms-transform: translateX(-30px);
    opacity: 0
  }
  25% {
    opacity: 1
  }
  50% {
    -ms-transform: translateX(30px);
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@keyframes loading {


  0% {-ms-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-ms-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

.animation {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimation {
  to {
    -webkit-transform: rotate(0deg) scale(1.1) skew(0deg) translate(-75%);
  }
}

.fix {
  margin-top: 4px;
  margin-left: 5px;
}

//Error Notification Accordion Styling
.alert-details {
  .accordion-group:last-child {
    border-bottom: 0px;
  }

  .accordion-toggle {
    background-color: $alertColor;
    padding: 2px;
    margin: -1px;
  }

  .accordion-inner {
    background-color: $alertColor;
    padding: 2px;
    margin: -1px;
  }

  .accordion-group {
    .accordion-heading {
      text-shadow: none;
    }
  }
}
.navbar-collapse {
  .notifications {
    padding: 4px;
  }

  .tasks {
    padding: 4px;
  }

  .messages {
    padding: 4px;


    .container {
      width: 200px;
    }

    .avatar {
      padding: 2px;
    }

    .header {
      .from {
        padding-left: 4px;
        font-weight: bold;
        font-size: 9pt;
      }

      .time {
        padding: 2px;
        font-style: italic;
      }
    }

    .message {
      padding: 2px;
    }
  }
}

.fr {
  p {
    margin: 0px;
  }
}

.mw-header {
  h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;  
    font-size: 20px;
    font-weight: bold;
    color: $medium-blue;
    }
}
 @font-face {
  font-family: 'icomoon';
  src:url('/CSS/custom-font/icomoon.eot?-rnn6sc');
  src:url('/CSS/custom-font/icomoon.eot?#iefix-rnn6sc') format('embedded-opentype'),
    url('/CSS/custom-font/icomoon.woff?-rnn6sc') format('woff'),
    url('/CSS/custom-font/icomoon.ttf?-rnn6sc') format('truetype'),
    url('/CSS/custom-font/icomoon.svg?-rnn6sc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bing-icon:before {
  content: "\e600";
  color:#939393;
}
.icon-google-icon:before {
  content: "\e601";
  color:#939393;
}

.fa{
  font-family: FontAwesome;
}
