[1/18/2019 4:10:22 PM] Exit Code:0, Time:0:0:0 for file UTL170.2018.12.17.Plats.pm7 
[1/18/2019 4:12:03 PM] Exit Code:0, Time:0:1:40 for file UTL170.2019.01.16.UPV.pm7 
[1/18/2019 4:12:03 PM] Time Spent: 0:1:41 

[6/24/2019 2:49:36 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:1/1/0001 12:00:07 AM for file UTQ170.2019.05.16.UPV_GaGray.pm7.  <br>
[6/24/2019 2:51:07 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:1/1/0001 12:01:30 AM for file UTQ170.2019.05.16.UPV_GAGP.pm7.  <br>
[6/24/2019 2:51:11 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:1/1/0001 12:00:04 AM for file UTL170.2019.03.19.UPV_Coweta.pm7.  <br>
[6/24/2019 2:51:11 PM] Time Spent: 0:1:42 <br>
[10/21/2019 4:56:48 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:10/21/2019 12:00:09 AM for file UTQ170.2019.08.08.UPV_GAGP.pm7 -  <br>
[10/21/2019 4:56:48 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:10/21/2019 12:00:00 AM for file UTQ170.2019.08.05.UPV_GACrisp.pm7 -  <br>
[10/21/2019 4:56:50 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:10/21/2019 12:00:01 AM for file UTQ170.2019.07.08.UPV_GaGray.pm7 -  <br>
[10/21/2019 4:56:50 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:10/21/2019 12:00:00 AM for file UTQ170.2019.07.03.UPV_Coweta.pm7 -  <br>
[10/21/2019 4:56:51 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:10/21/2019 12:00:00 AM for file UTQ170.2019.06.26.UPV_GAAM.pm7 -  <br>
[10/21/2019 4:56:52 PM] <font color=green><strong>Exit Code:0</strong></font>, Time:10/21/2019 12:00:00 AM for file UTL170.2019.07.10.Plats.pm7 -  <br>
[10/21/2019 4:56:52 PM] Time Spent: 0:0:13 <br>
