@import "mixin_helpers";
@import "bootstrap/variables";

.navbar-static-top .navbar-collapse {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-toggle i {
  color: #fff;
}

.menu-avatar {
  @include border-radius(3px);
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.navbar-nav > li > a {
  &.dropdown-avatar {
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 600;
    .hover{
    background-color:red;
    }
    .badge {
      position: absolute;
      top: 5px;
      left: 7px;
    }
    
  }
}

.navbar-inverse {
  border-bottom: 1px solid rgba(10, 13, 14, 0.8);
  @include std-bg(lighten(#11161A, 5), #11161A);
  border-left: 0;
  border-right: 0;
}
.dark-nav{  
  .fa-plus{
    color:$gold;
    margin-right:5px;

    }
    .fa-file{
    color:$gold;
    margin-right:5px;
    
    }
    .fa-search{
    color:$gold;
    margin-right:5px;
    
    }
}
.navbar-inverse .nav > li.cdrop {

  margin-top: 13px;

  > a {
    background: rgba(0,0,0,.5);
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15));
    padding: 3px 10px;
    margin-right: 10px;
    line-height: 20px;
    height: 24px;

    &:hover {
      background: rgba(0,0,0,.8);
    }
  }

  &.active > a {
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15));
  }
}
.primary-sidebar .nav > li.active > a{
  background-color:#f0f0f0;
}


//.navbar {
//
//  @include border-radius(0);
//  margin-bottom: 0;
//
//  .navbar-brand {
//    line-height: 27px;
//    color: #bbb;
//    @include text-shadow(0 1px 0 #000);
//    padding: 10px;
//  }
//}
//
//.navbar-toggle i {
//  color: #fff;
//}
//

//
//.navbar.navbar-top {
//  margin-bottom: 0px;
//
//  .navbar-inner {
//    @include border-radius(0);
//  }
//}
//
.navbar-form {

  .form-group {
    position: relative;
  }

  margin-top: 12px;

  .search-query {
    padding: 2px 10px;

    background: rgba(35, 43, 48, 0.83);
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15));
    @include border-radius(15px);
    border: 1px solid #111;
    height: 25px;
    line-height: 25px;

    &:focus, &.focused {
      padding: 2px 10px;
    }

    &.animated {
      width: 100px;
      @include transition(width .3s);

      &:focus, .focused {
        width: 200px;
      }
    }
  }

  i {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

.primary-sidebar .navbar-collapse {
  max-height: 9999px;
}

.primary-sidebar .nav {
  position: relative;
  padding: 0;
}

.navbar-nav > li > .dropdown-menu {
  border-radius: $border-radius-base;

  > li > a {
    white-space: normal;
  }
}