//BOOTSTRAP OVERRIDES
 /** QMT Color Palette **/
$black: #000000;
$gray-blue: #7890a8;
$medium-blue: #304878;
$dark-blue: #181848;
$gold: #f0a818;
$green: #498d5b;
$red: #c80404;
$white: #ffffff;
$gray: #e3e3e3;

$grid-float-breakpoint: 992px;
// So media queries don't overlap when required, provide a maximum
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$icon-font-path: "fonts/";

//General Color Settings
$grayBorder: 2px solid $gray;
$blueBorder: 2px solid $medium-blue;
$whiteBorder: 2px solid $white;
$blackBorder: 2px solid $black;
$alertColor: $gray;
$default-header-color: #333333;
$default-text-color: #333333;
  
//ticket
$odd-row: $gray;
$even-row: $white;

//Bar graph settings
$bar-graph-tooltip-border: 2px solid $gray-blue;
$bar-graph-tooltip-background: lighten($gray-blue, 30);

//Sidebar Color Settings
$sidebar-inactive-color: $gray;
$sidebar-active-color: $black;

//Overview color settings
$box-background-color: $white;
$big-box-title-color: $black;
$small-box-title-color: $black;

//Manage work color settings
$tile-selected-color: $white;
$tile-unselected-color: $white;
$people-area-background: $gray;
$work-area-background: $gray;
$details-area-background: $gray;
$favorites-background-color: $gray;
$details-header-background: $gray;
$details-background: $white;
$work-background: $white;
$work-unread-alert: $medium-blue;
$damage-color: $red;
$damage-text-color: $white;
$ticket-color: $gold;
$work-order-color: $green;
$work-order-text-color: $white;
$other-work-color: $white;
$work-urgency-default-background: $white;
$work-urgency-medium-text: $red;
$work-urgency-high-background: $red;
$work-urgency-high-text: $white;
$radio-button-underline: $gray-blue;
$emergency-color: $white;
$emergency-label-background: $white;
$emergency-label-color: $black;
$browser-warning: $dark-blue;



//THEME VARS

$brand-warning: $gold;
$brand-danger: $red;
$brand-success: $green;
$brand-info: $medium-blue;

$error-text-color: $default-text-color;
$error-bg-color: $red;
$error-border-color: $red;

$header-gradient-top: #fdfdfd;
$header-gradient-bottom: #eaeaea;

//every color array has the base color class name in the left, and the actual color on the right
$triangleColors: red #aa433a, green #8fae53, blue #7fb3d4, orange #CF6E20;
$buttonColors:
  default $header-gradient-top,
  red $red,
  green $green,
  blue $medium-blue,
  gray $gray,
  black $black,
  lightblue $gray-blue,
  gold $gold,
  sea #5a837e,
  brown #bb934f,
  twitter lighten(#4099ff, 10),
  facebook (lighten(#35508F, 10));
  
$btn-primary-color: $white;
$btn-primary-bg: $gray-blue;

$news-colors: blue #7FB3D4, green #8CC079, cyan #81BABD, purple #AEA7CF;
$barColors:  green #97af32, blue darken(#9bcff5, 10), orange #d28346, black #4c4c4c, red #c8514e;
$sideColors: green #83DA05, red #E15307, orange #EF8132;
$numeric-stats-colors: blue #6e97aa, red #ba6d6d, green #8fae53;
$badge-colors: blue #7890a8, gray #767676, green #8CC079, red #b35d5d, dark-red #b5473e, black #666, cyan #81BABD, purple #AEA7CF;
$primary-sidebar-width: 200px;
$primary-sidebar-dropdown-width: 90px;

//top header height (above breadcrumbs)
$breadcrumbs-header-height: 60px;

$box-background: #fbfbfb;
$box-border-color: #cdcdcd;
$box-header-text-color: $default-header-color;

$header-height: 37px;

$avatar-border-color: #328194;

$link-color: #78808a;
$link-hover-color: #5a6573;

$chart-red: #C75D5D;
$chart-blue: #6e97aa;
$chart-orange: #ff9f01;
$chart-gray: #6B787F;
$chart-lightBlue: #D4E5DE;
$chart-green: #8FAE53;
$chart-dark-green: #779148;

$glow-height: 40px;
$font-family-sans-serif: "open sans", roboto, sans-serif;