div
    div
        hr
        ul.breadcrumb
            li
                a(href="#") Home&nbsp;
                span.divider /
            li
                a(href="#") Placeholder
        hr
    h3(ng-bind="message")
    div(style='display: table; width: 50%;')
        div(style='display: table-row;', favorites)
    div(time-series-graph="", data-source-urls="urls", data-graph-style="timeSeriesGraph")
