.manage-page
    div.mw-left.col-md-6.col-sm-12.format-manage
        .row(employees)
        .row(favorites)
    div.mw-right.col-xs-12.col-md-6.format-manage
        .row(work)
        .row(work-details)
