.my-work-page
    h3 My Work:
    select(ng-model='filter', ng-options='choice for choice in filters')
    .tickets
        h4 Tickets
        ol
            li(ng-repeat="t in tickets", work-description, ticket="t", ng-click="viewDetails(t.ticket_id)")
    .damages
        h4 Damages
        div(ng-repeat='d in damages') {{d.damage_id}}
    .work-order
        h4 Work Orders
        div(ng-repeat='wo in workOrders') {{wo.wo_id}}