.overview-page
    div.header
        div(bread-crumbs="", data-crumbs="data.breadcrumbs", go-to="goTo('e', node)")
        form.form-inline.pull-right(role="form", ng-submit="goTo('q', user.searchstring)")
            .form-group
                input(type="text", ng-model="user.searchstring", placeholder="Search for a Manager")
            input.btn.btn-default.searchButton(type="submit", value="Search")
        .clear
    .left-box.format-overview
        .big-box.col-md-5(ng-hide="hidden")
            .fa.fa-dashboard.pull-right(ng-show="data.rootNode.clocked_in", title="Currently clocked in", ng-if="options.demoMode")
            h4(ng-bind="data.rootNode.short_name")
            div(ng-hide="data.rootNode.searchResult")
                div(due-pie-chart="", data-due-data="data.rootNode.due", data-title="Open Tickets by Due Date", data-graph-style="duePieBig")
                div(time-series-graph="", data-source-urls="data.rootNode.lineGraphFragment", data-graph-title="Tickets Closed Recently", data-graph-style="prodGraphBig", data-visible-hours="5")
                div(time-series-bar-graph="",
                data-source-urls="data.rootNode.barGraphFragment",
                data-graph-title="Tickets Closed (Last 30 Days)",
                data-graph-style="prodGraphBig",
                data-sync-family="bars",
                data-sync-data="plotFamilies")

    .right-box.format-overview
        .small-box.classname.col-md-7.col-xs-6(ng-repeat="c in data.childrenNodes", ng-click="delayDrillDown(c.node_id, c.short_name)", id="{{c.short_name}}")
            .fa.fa-dashboard.pull-right(ng-show="c.clocked_in", title="Currently clocked in", ng-if="options.demoMode")
            h5(ng-bind="c.short_name")
            div(due-pie-chart="",
            data-due-data="c.due",
            data-title="Open Tickets by Due Date",
            data-graph-style="duePieSmall")
            div(time-series-graph="",
            data-source-urls="c.lineGraphFragment",
            data-graph-title="Tickets Closed Recently",
            data-graph-style="prodGraphSmall",
            data-visible-hours="3")
            div(time-series-bar-graph="",
            data-source-urls="c.barGraphFragment",
            data-graph-title="Tickets Closed (Last 30 Days)",
            data-graph-style="prodGraphBig",
            data-sync-family="bars",
            data-sync-data="plotFamilies")
    .clear
    div.bottomgraph(time-series-graph="", data-source-urls="urls", data-graph-style="timeSeriesGraph", graph-color="#181848")
