h1(ng-bind="ticketStatus")
.ticket-details-page(ng-if="ticket")
    .sidebar
        div(ng-click="scroll('workDescription')")
            .fa.fa-inbox(title="Work Description")
        br
        div(ng-click="scroll('details')")
            .fa.fa-list(title="Details")
        br
        div(ng-click="scroll('image')")
            .fa.fa-camera(title="Image")
        br
        div(ng-click="scroll('locates')")
            .fa.fa-flag(title="Locates")
        br
        div(ng-click="scroll('facilities')")
            .fa.fa-building-o(title="Facilities")
        br
        div(ng-click="scroll('notes')")
            .fa.fa-comment-o(title="Notes")
        br
        div(ng-click="scroll('attachments')")
            .fa.fa-folder-o(title="Attachments")
        br
        div(ng-click="scroll('history')")
            .fa.fa-calendar(title="History")
    .view(data-spy="scroll")
        .before-arrive
            #workDescription.panel.panel-primary.work-description.section
                .panel-heading
                    h3.panel-title Work Description
                dl.panel-body.dl-horizontal
                    dt Address
                    dd
                        | {{ticket.work_address_number}} {{ticket.work_address_number_2}} {{ticket.work_address_street}}
                        br
                        | {{ticket.work_city}}, {{ticket.work_state}}, {{ticket.work_county}}
                        br
                        | {{ticket.work_subdivision}}
                        br
                        | {{ticket.work_lat}}&deg; N, {{ticket.work_long}}&deg; E

                    dt Description
                    dd {{ticket.work_description}}

                    dt Remarks
                    dd {{ticket.work_remarks}}
            button.btn.btn-default(ng-click="arrive()", ng-if="!arrived") I Arrived
        .after-arrive(ng-if="arrived")
            .ticket-details.section(id="details")
                h3 Details
                div Due: {{ticket.due_date}}
                div Work to be done: dmy wrk
                div Work Address
                div {{ticket.work_address_number}} {{ticket.work_address_number_2}} {{ticket.work_address_street}}
                div {{ticket.work_city}}, {{ticket.work_state}}
            #image.panel.panel-danger.image.section
                .panel-heading
                    h3.panel-title Image
                .panel-body
                pre {{ticket.image}}
            .locates( id="locates")
                .locate.section(ng-repeat="locate in ticket.locate")
                    h3 Locate {{locate.client_id}}
                    div(ng-repeat="(name, value) in locate") {{name}} = {{value}}
            .facilities.section(id="facilities")
                h3 Facilities
                p We think that this will not be needed because the locates will display all of the facilities
            .notes.section(id="notes")
                h3 Notes
                div(ng-repeat="note in ticket.note")
                    h4 Note {{note.entry_date}}
                    div(ng-repeat="(name, value) in note") {{name}} = {{value}}
            .history.section(id="history")
                h3 History
                .versions(ng-repeat="version in ticket.ticket_version")
                    h5 Version {{version.ticket_version_id}}
                    div(ng-repeat="(name, value) in version") {{name}} = {{value}}
            #attachments.panel.panel-warning.attachments.section
                .panel-heading
                    h3.panel-title Attachments
                .panel-body
                    table.table.table-striped
                            thead
                                tr
                                    th File Name
                                    th Size (kB)
                                    th Attach Date
                                    th Upload Date
                                    th Comment
                                    th Generated File Name
                            tbody
                                tr(ng-repeat="attachment in ticket.attachment")
                                    td(ng-bind="attachment.orig_filename")
                                    td(ng-bind="attachment.size")
                                    td(ng-bind="attachment.attach_date | date:'short' ")
                                    td(ng-bind="attachment.upload_date | date:'short' ")
                                    td(ng-bind="attachment.comment")
                                    td(ng-bind="attachment.filename")
                    .button-row
                        button.btn.btn-default(type="button") Add Attachments...
                        button.btn.btn-default.disabled(type="button") Attach from Camera...
                        button.btn.btn-default(type="button") Download Selected...
                        button.btn.btn-danger.disabled(type="button") Remove Selected
                        button.btn.btn-default(type="button") Select All
            .debug
                h3 Debug
                    pre {{ticket | json}}
