doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title UQ Login
        // start: Mobile Specific
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // end: Mobile Specific
        // build:css(www) CSS/styles.min.css
        link(href="/CSS/style.css", rel="stylesheet")
        // endbuild

        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext", rel="stylesheet", type="text/css")

        = "\n"
        <!--[if lt IE 8]>
        link(href="/CSS/style-ie.css", rel="stylesheet")
        <![endif]-->

        style(type="text/css").
            body {
            background: lightgrey;
            }
            .button-login {
            margin-top: 0 !important;
            }
            img#login-logo {
            width: 300px;
            padding-top:35px;
            }
            .align-c {
            text-align: center;
            }
    body.col-sm-12
        .container
            .row
                .row
                    .login-box.hidden-xs
                        .align-c
                            img#login-logo(src="img/logo.png")
                        .icons
                            a(href="/")
                                i.halflings-icon.home
                            a(href="/")
                                i.halflings-icon.cog
                        h2 Login to your account
                        form.form-horizontal(action="", method="post")
                            fieldset.fields
                                .input-group(title="Username")
                                    span.input-group-addon
                                        a.fa.fa-user
                                    input#username.input-large.col-md-10(type="text", name="username", placeholder="type username")
                                .clearfix
                                .input-group(title="Password")
                                    span.input-group-addon
                                        a.fa.fa-lock
                                    input#password.input-large.col-md-10(type="password", name="password", placeholder="type password")
                                .clearfix
                                p#error.text-error
                                .clearfix
                                .browsers
                                    | Please Use &nbsp;
                                    br
                                    img.browser-img(src="CSS/img/chrome_icon.png", alt="Google Chrome", title="Google Chrome")
                                .button-login
                                    button#login.btn.btn-primary(type="submit") Login
                                .clearfix
                        hr


                    .login.login-box.text-box.hidden-sm.hidden-md.hidden-lg
                        .align-c
                            img.picture-adjust(src="img/logo.png")
                        .icons
                            a(href="/")
                                i.halflings-icon.home
                            a(href="/")
                                i.halflings-icon.cog
                        h2 Login to your account
                        form.form-horizontal.text-box(action="", method="post")
                            fieldset
                                .input-group(title="Username")
                                    span.input-group-addon
                                        a.fa.fa-user
                                    input#username.input-large.col-xs-10.resize-text(type="text", name="username", placeholder="type username")
                                .clearfix
                                .input-group(title="Password")
                                    span.input-group-addon
                                        a.fa.fa-lock
                                    input#password.input-large.col-xs-10.resize-text(type="password", name="password", placeholder="type password")
                                .clearfix
                                p#error.text-error
                                .clearfix
                            .button-login
                                button#login.btn.btn-primary(type="submit") Login
                                .clearfix
                        br
        // build:js(www) /login.min.js
        script(src="/lib/jquery/dist/jquery.js")
        script(src="/lib/jquery-migrate/jquery-migrate.js")
        script(src="/lib/bootstrap/dist/js/bootstrap.js")
        script(src="/login.js")
        // endbuild
