doctype html
html(ng-app="app")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width initial-scale=1.0")
        // build:css(www) CSS/styles.min.css
        link(href="/CSS/jquery-ui-1.8.21.custom.css", rel="stylesheet")
        link(href="/lib/jquery.uniform/themes/default/css/uniform.default.css", rel="stylesheet")
        link(href="/CSS/jquery.iphone.toggle.css", rel="stylesheet")
        link(href="/CSS/snap.css", rel="stylesheet")
        link#custom-style(href="/CSS/style.css", rel="stylesheet")
        // endbuild
        = "\n"
        <!--[if lt IE 8]>
        link(href="/CSS/style-ie.css", rel="stylesheet")
        <![endif]-->
    body.ng-cloak(ng-controller="MainCtrl")
        div(ng-class="'overlay'", qm-overlay="")
            ul
                li.li1
                li.li2
                li.li3
                li.li4
                li.li5
                li.li6
        #fatal-error.container
            #noscript-warning.alert.alert-error.alert-block
                h4 An error occurred loading the application
                | Please refresh the page

        div(ng-include="", src="'/modules/app/header.tmplt.html'")
        .snap-drawers
            .snap-drawer
                .snap-drawer-left
                    div(sidebar="", ng-show="open")
        .main-content(ng-class="{'notFullWidthContent' : !fullBodyWidth}",ng-click="closeTabletSidebar()")
            .container
                div(error-alerts="")
                .row
                  div.angview(ng-view="")
        noscript
            #content
                .container
                    #noscript-warning.alert.alert-error.alert-block
                        h4 JavaScript Required
                        | You need to enable JavaScript in order to use this application.
                        
        //Bing Map
        script(type="text/javascript", src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1")
        // Google Map
        script(src="google-maps-mock.js")
        script(src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDKqjdAfbBTjE6bFrIuhHa96WBh1x6--bU")

        // build:js(www) client.min.js
        // Template JS
        script(src="/lib/jquery/dist/jquery.js")
        script(src="/lib/jquery-migrate/jquery-migrate.js")
        script(src="/lib/bootstrap/dist/js/bootstrap.js")
        script(src="/lib/jquery.uniform/jquery.uniform.js")
        script(src="/lib/flot/jquery.flot.js")
        script(src="/lib/flot/jquery.flot.resize.js")
        script(src="/lib/flot/jquery.flot.pie.js")
        script(src="/lib/flot.tooltip/js/jquery.flot.tooltip.js")

        // JS Libraries
        script(src="/lib/angular/angular.js")
        script(src="/lib/angular-route/angular-route.js")
        script(src="/lib/moment/moment.js")
        script(src="/lib/numeral/numeral.js")
        script(src="/lib/snapjs/snap.js")
        script(src="/lib/underscore/underscore.js")
        script(src="/lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js")
        script(src="/lib/angular-google-maps/dist/angular-google-maps.js")

        // Core Application
        script(src="/modules/myStats/myStats.js")
        script(src="/modules/settings/settings.js")
        script(src="/modules/app/screens.js")
        script(src="/modules/app/app.js")
        script(src="/modules/app/sidebar.js")
        script(src="/modules/filler.js")
        script(src="/modules/manage.js")
        script(src="/modules/overview.js")
        script(src="/modules/options.js")
        script(src="/modules/templates.js")
        script(src="/directives/duePieChart.js")
        script(src="/directives/work.js")
        script(src="/directives/map.js")
        script(src="/directives/workDetails.js")
        script(src="/directives/ticketDetail.js")
        script(src="/directives/favorites.js")
        script(src="/directives/notifications.js")
        script(src="/directives/workQueue.js")
        script(src="/directives/messages.js")
        script(src="/directives/employees.js")
        script(src="/directives/graphs/timeSeries.js")
        script(src="/directives/graphs/timeSeriesBar.js")
        script(src="/directives/template.js")
        script(src="/directives/events.js")
        script(src="/directives/expandingText.js")
        script(src="/directives/accordion.js")
        script(src="/directives/alert.js")
        script(src="/services/dataServices.js")
        script(src="/services/footerData.js")
        script(src="/services/EmpTreeNavigation.js")
        script(src="/services/GraphService.js")
        script(src="/services/syncGraphs.js")
        script(src="/services/timeService.js")
        script(src="/services/authentication.js")
        script(src="/services/http.js")
        script(src="/services/errorHandler.js")
        script(src="/services/versionService.js")
        script(src="/modules/ticketDetail.js")
        script(src="/services/sync.js")
        script(src="/services/schema.js")
        script(src="/modules/myWork.js")
        script(src="/directives/syncStatus.js")
        script(src="/directives/googleMap.js")
        script(src="/directives/ticketOverview.js")
        script(src="/directives/workCounts.js")
        script(src="/services/workCounts.js")
        script(src="/services/workers.js")
        script(src="/services/compressionWorker.js")
        // Overlay timer
        script(src="/modules/overlay-timer.js")
        // endbuild

        // build:js(www) config.js
        script(src="/modules/config.js")
        // endbuild
